* {
  margin: 0;
  padding: 0;
}
h4 {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}
h3 {
  font-size: 24px;
  font-family: "Roboto", sans-serif;
}
h2 {
  font-size: 36px;
  font-family: "Roboto", sans-serif;
}
p {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
}
/* bannner section start */
.banner {
  background: url(../image/2caae017a61202f87bc36fab57e85a63.png),
    rgba(0, 0, 0, 0.7);
  background-blend-mode: darken;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 631px;
}
.sub-title {
  font-size: 24px;
  color: #f4cb08;
  font-family: "Roboto", sans-serif;
}
.title {
  color: white;
  font-size: 48px;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
}
.sample-text {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}
.btn {
  color: white;
  border-color: white;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
}
.two-button:hover {
  background-color: white;
  color: black;
}
.title::after {
  content: "";
  width: 100px;
  height: 3px;
  display: block;
  background-color: yellow;
  margin-top: 20px;
}
/* banner section end */

/* discription text start */
.elvo-subtitle {
  font-size: 24px;
  color: #f4cb08;
  font-family: "Roboto", sans-serif;
}
.elvo-title {
  font-size: 36px;
  font-family: "Roboto", sans-serif;
}
.elvo-title::after {
  content: "";
  display: block;
  width: 80px;
  height: 3px;
  background-color: yellow;
  margin: 20px 0;
}
.small-text {
  font-size: 24px;
  font-family: "Open Sans", sans-serif;
  color: #b3b3b3;
}
.elvo-texts {
  font-size: 16px;
  text-align: inherit;
  font-family: "Open Sans", sans-serif;
}
.red-butten {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  margin-top: 20px;
  background-color: #f4cb08;
}
/* discription text end */
/* feature start */
.feature-imgeone {
  background-image: url(../image/bf37f8217e4b71feb26707d632c6845d.jpg);
  height: 300px;
}
.feature-imgetwo {
  background-image: url(../image/457883519366bc77e9ffb4294b44f8df.jpg);
  height: 300px;
}
.feature-imgethree {
  background-image: url(../image/35970472e6f88da51190947c84ba6f2a.jpg);
  height: 300px;
}
.building {
  font-size: 24px;
  font-family: "Roboto", sans-serif;
}
.building::after {
  content: "";
  display: block;
  width: 70px;
  height: 3px;
  background-color: yellow;
  margin-top: 10px;
}
.feature-text {
  margin-top: 170px;
}
.building-text {
  font-size: 16px;
  text-align: inherit;
  font-family: "Open Sans", sans-serif;
}
/* feature end */
/* speacial service start */
.style::after {
  content: "";
  display: block;
  width: 70px;
  height: 3px;
  background-color: yellow;
  margin: 20px 650px;
}
.best-text {
  font-size: 24px;
  font-family: "Roboto", sans-serif;
  color: #f4cb08;
}
.service-text {
  font-size: 36px;
  font-family: "Roboto", sans-serif;
}
/* speacial service end */
/* services start */
.planing-img {
  width: 70px;
  height: 70px;
  border: 1px solid gold;
  padding: 12px;
  border-radius: 5px;
}
.design {
  font-size: 20px;
  font-family: "Roboto", sans-serif;
}
.design-text {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
}

.hr-style {
  width: 80px;
  height: 5px;
  background-color: yellow;
}

/* services end */
/* protfulio start */

.speacial-servicess {
  height: 220px;
  padding-top: 40px;
  background-color: black;
}
.prot-text {
  color: #f4cb08;
}
.test-text {
  font-size: 30px;
  font-family: "Roboto", sans-serif;
  color: #f4cb08;
}
/* protfulio end */
/* constraction start */

.more-button {
  font-size: 16px;
  background-color: #f4cb08;
  font-family: "Open Sans", sans-serif;
}
.team::after {
  content: "";
  display: block;
  width: 80px;
  height: 3px;
  background-color: gold;
  margin-top: 20px;
}
.text-war {
  color: #f4cb08;
}
/* constraction end */
/* team point start */
.team-point {
  background: url(../image/ten.jpeg), rgba(0, 0, 0, 0.7);
  background-blend-mode: darken;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 40px;
}
span {
  gap: 5px;
}
.team-text::after {
  content: "";
  display: block;
  width: 50px;
  height: 3px;
  background-color: gold;
  margin: 17px auto;
}
.text-count {
  font-size: 30px;
  font-family: "Roboto", sans-serif;
  color: #f4cb08;
}
.team-text {
  color: black;
}
/* team point end*/
/* working planing start */
.rounded-circle {
  width: 100px;
  height: 100px;
  padding: 21px;
}
.rounded-circle.bg-warning.finish {
  width: 100px;
  height: 100px;
  padding: 21px;
}
.rounded-circle.bg-warning {
  width: 100px;
  height: 100px;
  padding: 21px;
}
.rounded-circle.bg-warning img {
  padding: 21px;
}
.rounded-circle {
  width: 100px;
  height: 100px;
  padding: 21px;
}
.text-step {
  color: #f4cb08;
}
.planing-text {
  font-size: 30px;
  font-family: "Roboto", sans-serif;
}
/* working planing end */
/* card section start */
.card-section {
  background-color: rgba(0, 0, 0, 0.767);
}
.mike-section {
  width: 250px;
  border: 1px solid white;
  position: relative;
}
.angles {
  margin-top: -30px;
  z-index: 4;
}
.mike-text {
  font-size: 30px;
  font-family: "Roboto", sans-serif;
}
.constra-text {
  font-size: 24px;
  font-family: "Roboto", sans-serif;
  color: #f4cb08;
}
/* card section end */
/* criativity section start */
.criativity {
  background-color: rgba(0, 0, 0, 0.91);
}
.card-img-top {
  width: 309px;
  height: 250px;
}
.link-text {
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
}
/* criativity section end */
/* card section start */
.news {
  background-color: white;
}
.card-title {
  font-size: 30px;
  font-family: "Roboto", sans-serif;
}

.blog-text {
  color: #f4cb08;
  font-size: 30px;
  font-family: "Roboto", sans-serif;
}
/* card section end */
/* elvo constatution start */
.elvo {
  background-color: #f4cb08;
}
.elvo-text {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
}
.btn:hover {
  background-color: white;
  color: black;
}
.elvo-cons-text {
  font-size: 48px;
  font-family: "Roboto", sans-serif;
}
/* elvo constatution end */
/* footer section start */
.nicepage {
  font-size: 12px;
  font-family: "Open Sans", sans-serif;
}
/* footer section end */
@media screen and (max-width: 320px) {
  .sub-title {
    font-size: 18px;
  }
  .title {
    font-size: 2rem;
  }
  .text-white {
    font-size: 12px;
  }
  /* .img-fluid {
    display: none;
  } */
  .banner-discription {
    margin: 150px 0;
  }
  .small-text {
    font-size: 1.25rem;
  }
  .building {
    font-size: 20px;
  }
  .protfulio {
    flex-direction: column;
  }
  .team-point {
    margin-top: 35px;
  }
  .angles {
    margin-top: -15px;
    justify-content: center;
  }
  .card-img-top {
    width: 295px;
    height: 250px;
  }
  .design {
    font-size: 16px;
  }
  .recent-text {
    font-size: 25px;
  }
  .work-text {
    font-size: 25px;
  }

  .elvo-text {
    font-size: 12px;
  }
}
@media screen and (max-width: 576px) {
  .img-fluid {
    display: none;
  }
}
@media screen and(max-width:320px) {
  .elvo-cons-text {
    font-size: 14px !important;
  }
}